<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<!-- 게시글 번호 미리 추출하는 구문 -->
<entry key="selectBoardNo">
		SELECT SEQ_BNO.NEXTVAL BNO
		FROM DUAL
	</entry>
	
	
	<!-- 사진게시글 작성 구문 -->
	<entry key="insertThumbnail">
		INSERT INTO TOURBOARD(TOURBOARD_NO
						 ,TOURBOARD_TITLE
						 ,TOURBOARD_CONTENT
						 ,TOURBOARD_WRITER
						 ,TOURCATEGORY_NO)
	            VALUES(?
	            	   ,?
	            	   ,?
	            	   ,?
	            	   ,3)
	</entry>
	<!-- 사진게시글 첨부파일 처리 -->
	<entry key="insertAttachmentList">
		INSERT INTO PHOTO(PHOTO_NO
		                     ,REF_BNO
		                     ,ORIGIN_NAME
		                      ,CHANGE_NAME
		                      ,FILE_PATH
		                      ,FILE_LEVEL
		                      )
            VALUES(SEQ_PNO.NEXTVAL            
                  ,?
                  ,?
                  ,?
                  ,?
                  ,5)
	
	
	</entry>
	
	
	<entry key="selectThumbnailList">
		SELECT TOURBOARD_NO
		      ,TOURBOARD_TITLE
		      ,TOUR_COUNT
		      ,TOURBOARD_CONTENT
		      ,FILE_PATH || CHANGE_NAME THUMBNAIL
		FROM TOURBOARD B 
		JOIN PHOTO ON (TOURBOARD_NO =  REF_BNO)
		WHERE B.TOUR_STATUS='Y'
		AND FILE_LEVEL=5
		ORDER BY PHOTO_NO DESC
		</entry>
		<!-- 게시글 조회수증가 -->
	<entry key="increaseCount">
		UPDATE TOURBOARD
		SET TOUR_COUNT = TOUR_COUNT+1
		WHERE TOURBOARD_NO=?
		AND TOUR_STATUS='Y'
	</entry>
	<!-- 게시글 단일 조회 -->
	<entry key="selectBoard">
		SELECT TOURBOARD_NO
			 , TOURBOARD_TITLE
			  ,TOURBOARD_CONTENT
			  ,USER_ID
			  ,TOURCREATE_DATE
		FROM TOURBOARD B
        JOIN MEMBER ON (USER_NO=TOURBOARD_WRITER)
		WHERE TOURBOARD_NO = ?
		AND B.TOUR_STATUS ='Y'
	</entry>
	<entry key="selectAttachment">
		SELECT PHOTO_NO
		      ,ORIGIN_NAME
		      ,CHANGE_NAME
		      ,FILE_PATH
		FROM PHOTO
		WHERE REF_BNO = ?
	</entry>
	
	<!-- 메인페이지 로드 -->
	<entry key="selectTour">
		SELECT *
		FROM(SELECT TOURBOARD_TITLE,TOURBOARD_CONTENT,CHANGE_NAME,FILE_PATH
		FROM TOURBOARD
		JOIN PHOTO ON (TOURBOARD_NO=REF_BNO))
		WHERE ROWNUM &lt; 4
	</entry>
	

</properties>